.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: orange;
}

.footer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: orange;
}

.icon {
  margin: 1.5% 10%;
  height: auto;
  width: 5%;
}

.logo {
  width: 100%;
  padding: 2% 2%;
}

.icon1 {
  height: auto;
  width: 15%;
}

.text {
  font-weight: bold;
  font-size: large;
}

.base {
  display: flex;
  flex: 2;
  margin: 5% 7.5%;
  border-style: solid white;
  color: white;
}

.text1 {
  color: white;
}

.content {
  margin: 0 auto;
  width: 40%;
  border-radius: 20px;
  font-weight: bolder;
  font-size: larger;
  font-stretch: wider;
}
